__pycache__/
.venv/
.vscode/
.idea
.coverage*
coverage.xml
/htmlcov
*.pyc
/dist/
/build/
/.pytest_cache/

dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt

config.json
failed_imports.csv
list.csv
prices.csv
stock.csv
*.log
*.log.*
*.db
*.db.dir
*.db.dat
*.db.bak
