__pycache__/
.venv/
.vscode/
.idea
.coverage
coverage.xml
/htmlcov
*.pyc
/dist/
/build/
/.pytest_cache/

config.json
failed_imports.csv
list.csv
prices.csv
stock.csv
*.log
*.log.*
*.db.dir
*.db.dat
*.db.bak
